---
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";
const { posts } = Astro.props;
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      posts.map(({ title, excerpt,slug }) => (
        <a href={`/post/${slug}`}>
          <li class="flex flex-col  gap-4 p-6 border border-default bg-offset">
            <p class="text-xl  font-extrabold ">{title}</p>
            <p class="text-sm  text-offset">{excerpt}</p>
            </li>
        </a>
      ))
    }
  </ul>
</ContentSection>
