---
const { title, id,float,padd } = Astro.props;
---

<section {id} class="flex flex-col items-center gap-4 space-y-8 scroll-mt-24">
  <img  loading="lazy" class={`${float} h-32 m-auto`} src="/assets/images/Adorable-Panda.png" alt="panda"/>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class={`${padd && 'p-4'} text-6xl font-extrabold tracking-tight text-center gradient-text`}
    >
      {title}
    </h2>
  </div>
  <p class="max-w-xl text-2xl font-extrabold text-center">
    <slot name="lead" />
  </p>
  <slot />
</section>

<style>

   @keyframes float-y {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }
   @keyframes float-x {
    0% {
      transform: translate3d(-30px, 0, 0);
    }

    100% {
      transform: translate3d(30px,0, 0);
    }
  }
   

  .float-y {
    animation: float-y linear 2.5s infinite alternate;
  }
  .float-x {
    animation: float-x linear 2.5s infinite alternate;
  }
  

</style>
