---
import ContentSection from "~/components/content-section.astro";
const {services} = Astro.props;

const features = services;


---

<ContentSection float="float-y"  title="Services" id="features">
  <Fragment slot="lead">
    <span class="dark:text-red-300">Hussein is Back </span>
    Astro comes <span class="text-primary">batteries included</span>. It takes
    the best parts of
    <span class="text-primary">state-of-the-art</span>
    tools and adds its own <span class="text-primary">innovations</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-32 h-32 p-3 border-2 border-current rounded-full">
            <embed class="icon fill:white" type="image/svg+xml" src={icon.url} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>

