---


import Starfield from "~/components/starfield.astro";
import HeroImage from "~/components/hero-image.astro";
import Logo from "./logo.astro";



---

<section class="relative h-full bg-white dark:bg-[#111827] ">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full sm:grid-cols-2 place-items-center">
    <h2
      class="flex flex-col self-end gap-2 sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <!-- <Icon name="logomark" class="h-24 text-white md:h-32" /> -->
      <Logo height={"40"} />
      <div
        class="font-bold p-4    tracking-tighter text-center text-8xl gradient-text"
      >
        سوي   

        <br /> مواقعك,
        
        <br /> ويانة اسرع.
      </div>
    </h2>

    <div class="self-start w-2/3 max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-start">
    <img class="object-cover sm:min-h-[330px] sm:min-w-[330px]  max-h-[487px] max-w-[487px] w-9/12 h-9/12 m-auto" src="/assets/images/panda.gif" alt="باندا">
    </div>
   
  </div>
</section>



<style>

  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
